<!DOCTYPE html>
<html>
<head>
{{template "base/headmobile.html" .}}
</head>
<body>


<div data-role="page" data-theme="a">
  <div data-role="header">
    <h1>Avalon</h1>
  </div>
  <div data-role="main" class="ui-content">
    <form method="post" action="/join">
      <label for="uname">username：</label>
      <input type="text" name="uname" id="uname" required >
      <input type="submit" data-inline="true" value="submit">
    </form>
  </div>
</body>
<footer>
<div data-role="footer" class="author">
      Author:{{.author}}
      /
      Contact me:
      <a class="email" href="mailto:{{.Email}}">{{.Email}}</a>
    </div>
</div>
</footer>
</html>