<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
    <title>如有不懂，请加qq群：135430763，共同学习！</title>
  
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
  
  </head>
  
  <body>
    <div data-role="page" id="page" data-theme="b">
    <div data-role="header" data-position="fixed" data-theme="b">
      <h1>
        如有不懂，请加qq群：135430763，共同学习！
      </h1>
      <a href="javascript:location.reload();" data-role="button" class="ui-btn-right" data-icon="refresh">刷新</a>
    </div>

    <div data-role="content">
      <p>
        点击按钮2，隐藏按钮1，并且将按钮2改为圆角
      </p><p>
        点击按钮3，显示按钮1，并且将按钮2改为非圆角
      </p>
      <p>
        如有不懂，请加qq群：135430763，共同学习！
      </p>
      <p>
        如有不懂，请加qq群：135430763，共同学习！
      </p>
      <p>
        如有不懂，请加qq群：135430763，共同学习！
      </p>
      <p>
        如有不懂，请加qq群：135430763，共同学习！
      </p>
      
      <div data-role="controlgroup" data-type="horizontal">
        <input type="button" value="我是按钮1" data-inline="true" id="btn1">
        <input type="button" value="我是按钮2" data-inline="true" id="btn2">
        <input type="button" value="我是按钮3" data-inline="true" id="btn3">
      </div>
      
      <p>
        点击按钮5，隐藏按钮4，并且将按钮5改为圆角
      </p>
      <p>
        点击按钮6，显示按钮4，并且将按钮5改为非圆角
      </p>
      
      <div data-role="controlgroup" data-type="horizontal">
        <a href="#" data-role="button" id="a4">我是按钮4</a>
        <a href="#" data-role="button" id="a5" onclick="hideA();return false;">我是按钮5</a>
        <a href="#" data-role="button" id="a6" onclick="showA();return false;">我是按钮6</a>
      </div>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="b">
      <span style="height: 40px; line-height: 40px; text-align: center; display: block; font-size: 9px;">如有不懂，请加qq群：135430763，共同学习！</span>
    </div>
  </div>
  <script type="text/javascript">
    //给按钮2绑定click事件
    $('#btn2').unbind().bind('click',function(){
      //隐藏按钮1
      $('#btn1').parent("div").css('display','none');
      //给按钮2添加样式，使按钮2变成圆角
      $('#btn2').parent("div").addClass('ui-first-child');
    });
      //给按钮3绑定click事件
    $('#btn3').unbind().bind('click',function(){
      //隐藏按钮1
      $('#btn1').parent("div").css('display','');
      //给按钮2减去ui-first-child样式
      $('#btn2').parent("div").removeClass('ui-first-child');
    });


    //a5标签的onclick事件
    function hideA(){
      $('#a4').css('display','none');
      //给a5标签添加样式，使a5标签变成圆角
      $('#a5').addClass('ui-first-child');
    }

    //a6标签的onclick事件
    function showA(){
      $('#a4').css('display','');
      //给a5标签删除样式，使a5标签变成非圆角
      $('#a5').removeClass('ui-first-child');
    }

    
  </script>
    
  </body>
</html>